//Variables
//Tipografia
$typography: 'Roboto', sans-serif;

$color: #000000;
$typography-light: #F3F1ED;

$typography-thin: 100;
$typography-normal: "300";
$typography-bold: 700;

//Colores
$color-principal: #1DBEB4;
$principal-color-attenuated: #1dbeb3b9;
$color-secundary: #383B58;
$color-neutral: #545776;
$color-neutral-atenuated: #545776b0;
$color-neutral-hover:#5457761d;
$color-back: #F3F1ED;
$color_recomendation:#ebebee;

//Tamaños de letra
$size-heading1: 24pt;
$size-heading2: 20pt;
$size-heading3: 16pt;
$size-heading4: 14pt;
$size-texto1: 14pt;
$size-texto2: 12pt;
$size-texto-boton1: 14pt;
$size-texto-boton2: 16pt;

$border-radius: 5px;
$box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;