
.footer{
  @include display-flex-creator($justify-content: space-between);
  @include card-especification($back-color: $color-principal, $color:$typography-light, $border-radius:0, $padding: 0 30px);
  nav{
    ul{
      @include display-flex-creator();
      list-style: none;
      li{
       @include box-parameter($margin: 5px, $padding: 5px);
       width: 50%;
      }
    }
  }
}

@media (max-width: 400px){
  .footer{
    padding: 10px;
    nav{
      display: none;
    }
  }
  
}
