@import './header_components/avatar_header';
@import './header_components/burger_menu';


.header{
  @include display-flex-creator($justify-content: space-between);
  @include card-especification($back-color: #ffffff);
  padding: 0 20px;
  img{
    height: 5vh;
    margin: 10px;
  }
  ul{
    @include display-flex-creator();
    @include box-parameter($margin: 0, $padding: 0);
    list-style: none;
    li{
      a{
        text-decoration: none;
        button{
          @include box-parameter($margin: 5px, $padding: 5px 30px);
          @include button($back-color: transparent);
          font-weight: 700;
          font-size: 16px;
          transition: 0.5s;
          cursor: pointer;
        }
        button:hover{
          background-color: $color-principal;
          color: #ffffff;
        }
      }    
    }
  }
  
  .burger-menu-button{
    @include box-parameter($margin: 5px, $padding: 5px 10px);
    @include button($back-color: transparent);
    font-weight: 700;
    font-size: 16px;
  }
}

@media (max-width: 400px){
  .header{
    padding: 10px;
    img{
      margin: 0;
    }
  }
}