.book-button {
    @include card-especification($back-color: #ffffff, $color:$typography, $border-radius:10px, $padding: 0 10px);

    @include display-flex-creator($flex-direction: column, $justify-content: center, $align-items: normal);
    @include box-parameter($margin: 0, $padding: 10px);
    width: 30%;
    box-shadow: $box-shadow;   
    button { @include button($back-color: $color-principal, $color: #ffffff , $border: $color-principal solid 1px, $width: auto);
        box-shadow: $box-shadow;
     }
}