.product-title-and-back-button{
  @include display-flex-creator($flex-direction: row, $justify-content: space-between);
  @include card-especification($back-color: $color-neutral, $color:$typography-light, $border-radius:0, $padding: 10px 30px);
  .product-title{
    @include display-flex-creator($flex-direction: column, $align-items: none);
    h2{
      margin: 0;
    }
  }
  button{
    @include button($back-color: transparent, $color: #ffffff, $border: none, $width: auto);
    height: 30px;
    transition: 0.5s;
    cursor: pointer;
    svg{
      font-size: 20px;
    }
  }
  button:hover{
    background-color: white;
    color: $color-secundary;
  }
}

@media (max-width: 450px){
  .product-title-and-back-button{
    padding: 10px;
  }
}
